<%- include('header'); -%>
<div class="contact">
    <table id = "catalog "> 
        <tr>
          <th>Name</th>
          <th>Adress</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>Sanjeevani Rajpurohit</td>
          <td>Dubai</td>
          <td>502982102</td>
          <td>sanjeevani1109@gmail.com</td>
        </tr>
        <tr>
          <td>Prachikaa Singh</td>
          <td>Dubai</td>
          <td>502400607</td>
          <td>prachikaa2011@gmail.com</td>
        </tr>
        <tr>
            <td>Say Riz</td>
            <td>Dubai</td>
            <td>504872569</td>
            <td>sayriz@gmail.com</td>
          </tr>
      </table>
</div>
<%- include('footer'); -%>